.message-item {
  width: fit-content;
  padding: 10px;
  background: #f0f0f0;
  border-radius: 10px;
  height: auto;
  margin-bottom: 20px;
}

.message-title {
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 5px;
}

.message-content {
  font-size: 15px;
  line-height: 18px;
}
